* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.bannerImage {
    width: 200px;
    /* position: absolute;
    right: 0;
    bottom:0; */
}

.header {
    font-size: 200%;
}

.heading-container {
    background-color: rgb(238, 238, 138);
    padding: 30px;
    position: relative;
}

.header2 {
    font-size: 200%;

}