* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

.nav-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    transform: rotate(90deg);
}
































/* 
.bannerImage {
    width: 200px;
}

.header {
    font-size: 200%;
}

.heading-container {
    background-color: rgb(238, 238, 138);
    padding: 30px;
    position: relative;
}

.header2 {
    font-size: 200%;

} */